/* MARINETE =================== */
body {
  max-width: 1120px;
  margin: 0 auto;
}
#container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.texto-card hr {
  width: 720px;
  margin: 10px auto;
}
.madrinha {
  font-size: 4em;
  margin: 20px 0 20px 20px;
  font-family: Pacifico;
}
#imagens {
  margin-top: -43px;
}
#imagens img {
  margin: 20px 25px;
}
@media (max-width: 1113px) {
  #container {
    flex-wrap: wrap;
  }
  .texto-card hr {
    width: 390px;
  }
  #imagens {
    margin-top: 0px;
  }
}
